
/*
** Correção de estilos da área: Deus.
*/

.blog-content .content-inner {
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
}

.posts .post-item:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.post-link a:link {
    text-decoration: none !important;
    color: white;
}

.post-link a:visited {
    text-decoration: none !important;
    color: white;
}

.post-link a:hover {
    text-decoration: none !important;
    color: white;
}

a.post-link:active {
    text-decoration: none !important;
    color: white;
}

a.post-link:link {
    text-decoration: none !important;
    color: white;
}

a.post-link:visited {
    text-decoration: none !important;
    color: white;
}

a.post-link:hover {
    text-decoration: none !important;
    color: white;
}

a.post-link:active {
    text-decoration: none !important;
    color: white;
}

.site-content .blog-top .title {
    font-family: 'Eagle Lake', cursive;
}

.site-content .blog-top .description {
    font-family: 'Eagle Lake', cursive;
    font-size: 15px;
}

.site-content .blog-top .description-mobile {
    font-family: 'Eagle Lake', cursive;
    font-size: 17px;
}

.blog-top .menu {
    position: absolute;
    bottom: 0;
    width: 1000px;
    left: calc((100% - 1000px) / 2);
    text-align: center;
}

.menu .item {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #031d42;
    color: white;
    margin: 0;
    text-align: center;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    min-width: 150px;
    font-family: 'Eagle Lake', cursive;
    border-radius: 3px;
}

.menu .item:hover {
    background-color: white;
    color: #031d42;
}

@media only screen and (max-width: 1024px) {
    .blog-top .menu {
        width: 100%;
        left: 0;
        top: 150px;
        transform: scale();
    }

    .menu .item {
        margin-bottom: 5px;
    }
}


