
/*
** Correção de estilos da área: Deus.
*/

.blog-content .content-inner {
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
}

.posts .post-item:hover {
    background-color: rgba(117, 117, 117, 0.1);
}

.post-link a:link {
    text-decoration: none !important;
    color: white;
}

.post-link a:visited {
    text-decoration: none !important;
    color: white;
}

.post-link a:hover {
    text-decoration: none !important;
    color: white;
}

a.post-link:active {
    text-decoration: none !important;
    color: white;
}

a.post-link:link {
    text-decoration: none !important;
    color: white;
}

a.post-link:visited {
    text-decoration: none !important;
    color: white;
}

a.post-link:hover {
    text-decoration: none !important;
    color: white;
}

a.post-link:active {
    text-decoration: none !important;
    color: white;
}

.site-content .blog-top .title {
    font-family: 'Eagle Lake', cursive;
}

.site-content .blog-top .description {
    font-family: 'Eagle Lake', cursive;
    font-size: 15px;
}

.site-content .blog-top .description-mobile {
    font-family: 'Eagle Lake', cursive;
    font-size: 17px;
}

.blog-top .menu {
    position: absolute;
    bottom: 0;
    width: 1000px;
    left: calc((100% - 1000px) / 2);
    text-align: center;
}

.menu .item {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #031d42;
    color: white;
    margin: 0;
    text-align: center;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    min-width: 150px;
    font-family: 'Eagle Lake', cursive;
    border-radius: 3px;
}

.menu .item:hover {
    background-color: white;
    color: #031d42;
}

@media only screen and (max-width: 1024px) {
    .blog-top .menu {
        width: 100%;
        left: 0;
        top: 190px;
        transform: scale(1);
    }

    .menu .item {
        margin-bottom: 5px;
    }

    .blog-content {
        top: 290px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #01d3d2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #01d3d2;
}

.site-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../../media/img/maria-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    background-color: black;
    color: white;
    
    overflow: auto;
}


